<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@using Books.Models
@inject SignInManager<User> SignManager_
@inject UserManager<User> UserManager_

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div>
            <a asp-action="Index" asp-controller="Home">Home</a>
        </div>
        @if (SignManager_.IsSignedIn(User))
        {
            <form asp-area="" asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
                <button type="submit">Log out</button>
            </form>
        }
        else
        {
            <div>
                <a asp-action="Register" asp-controller="Account">Register</a>
                <a asp-action="Login" asp-controller="Account">Login</a>
            </div>
        }
    </div>

    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("scripts", false)
    </div>
</body>
</html>
